/* PIXR CSS

	1. CORE
	2. NAVIGATION
	3. TOP
	4. FEATURE1
	5. FEATURE2
	6. CTA
	7. PRICING
	8. CLIENTS
	9. FOOTER
	10. MISC.
		A. FORM ELEMENTS
		B. BUTTONS
		C. OWL CAROUSEL
		D. GALLERY HOVER EFFECTS
		E. NAVIGATION HOVER EFFECTS

*/

/* CORE CSS */

body {
	color:#777777;
	font-family:'Raleway';
	font-size:1.4em;
	line-height:1.5em;
	overflow-x:hidden;
}



h2 {
	color:#000000;
	font-weight:300;
	margin-bottom:30px;
}

h3 {
	color:#81334d;
	font-size:16px;
	font-weight:600;
	letter-spacing:1px;
	line-height:20px;
}

.uppercase {
	text-transform:uppercase;
}

/* NAVIGATION */

header {
	width:100%;
	z-index:1041;
}


.navbar {
	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.navbar-custom {
	color:#ffffff;
	font-size:14px;
	border-radius:0;
	margin-bottom:0;
	padding:20px 0;
	width:100%;
	z-index:1042;
	box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .20);
	-moz-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .20);
	-webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .20);
}

.navbar-slim {
	padding: 0px;
}

.navbar-custom a {
	color:#999999;
}

.navbar-brand {
	padding:0 15px;
}

.navbar-custom .navbar-nav > li > a{
	padding:16px 5px 16px 0;
}

.navbar-custom .navbar-nav > li > a:hover {
	color:#000000;
	background:none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.navbar-custom .navbar-toggle .icon-bar {
	background:#000000;
}

.banner--clone {
	background:#ffffff;
	border-bottom: 1px solid #fff;
}

.banner--clone .navbar-custom a {
	color:#999;
}

.banner--clone .navbar-custom .navbar-nav > li > a:hover {
	color:#000000;
}

.tp-banner h3 { color: #fff }

.navbar-custom .navbar-nav > li:last-child > a {
	color: darkorange;
}

/* FEATURE 1 */

#feature1 {
	background:#eeeeee;
	min-height:450px;

	background-image: url(../img/ipad-isometric.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}



/* FEATURE 2 */

#feature2 {
	background:#eeeeee;
	min-height:450px;

	background-image: url(../img/app-isometric.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

#feature2 p {
	margin-bottom:35px;
}

#feature2 i {
	border:1px solid #777777;
	border-radius:50%;
	width:2em;
	height:2em;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}


#feature2 i:hover {
	color:#ffffff;
	background:#777777;
}


/* CTA */

#cta {
	padding:0 0 100px 0;
}

#cta h2 {
	margin-bottom:10px;
}

#cta .button {

}


/* PRICING */

.pricing .item {
	margin:0 15px;
}

.price {
  font-size: 4em;
  margin:15px 0 10px 0;
}

.price-cents {
  vertical-align: super;
  font-size: 50%;
}

.price-month {
  font-size:17px;
  margin-top:20px;
  display:block;
  font-weight:400;

}



/* CLIENTS */

#clients {
	background:#eeeeee;
	padding:35px 0;
	margin-bottom:0;
}



/* FOOTER */

footer {
	background:#222222;
	padding:60px 0;
}

/* register form */

#register-form {
	background:#ffffff;
	padding:25px;
}

#register-form h2 {
	margin-bottom:15px;
}

.register-form {
	margin-top:20px;
}

#register-form input,
#register-form select {
	border:1px solid #ddd;
}


/* social buttons */

.social {
	margin:10px 0;
}

.social .fa-inverse {
	color:#777777;
}

.social .fa-inverse:hover {
	color:#eeeeee;
}

.social a {
	color:#111111;
	text-decoration:none;
	margin:0;
	padding:0;
}

.social a:hover{
	color:#c04234;
	text-decoration:none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}


#footer ul.small a {
	color:#c04234
}


/* MISC */

/* FORM ELEMENTS */

input[type="text"],
input[type="email"],
select {
	font-size:20px;
	font-family:inherit;
	width:100%;
	min-height:30px;
	padding:10px 10px;
	text-transform:uppercase;
	border:0;
	margin-bottom:20px;
	outline:none;
}



/* BUTTONS */

.button {
	font-family:'Raleway';
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	border-radius: 5px;
	margin: 30px 0 15px 0;
	padding: 10px 20px;
	display: inline-block;
	position: relative;
	outline: none;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
			transition: all 0.3s;
}

.button:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	        transition: all 0.3s;
}

.button-big {
	padding:12px 18px;
	font-size:16px;
	font-weight:700;
	letter-spacing:-0.5px;
}

.button-light {
	color:#ffffff;
	background:transparent;
	border:2px solid #ffffff;
}

.button-light:hover,
.button-light:active {
	color:#428bca;
	background:#ffffff;
	text-decoration:none;
}

.button-dark {
	color:#ffffff;
	background:#428bca;
	border:2px solid #428bca;
}

.button-dark:hover,
.button-dark:active {
	color:#eeeeee;
	background:#612446;
	border:2px solid #612446;
	text-decoration:none;
}

.button-border-dark {
	color:#428bca;
	border:1px solid #428bca;
}

.button-border-dark:hover,
.button-border-dark:active {
	color:#eeeeee;
	background:#428bca;
	border:1px solid #428bca;
	text-decoration:none;
}

.buttonwrap {
	text-align: center;
}


/* OWLCAROUSEL */
.owl-theme .owl-controls .owl-page span {
	background:rgb(160,160,160);
}

.owl-theme .owl-controls .owl-buttons div{
	color:#fac42b;
	padding:0;
}


/* GALLERY HOVER EFFECTS */

.gallery .item {
	margin:0 15px;
	background: rgb(160,160,160);
}

.gallery .owl-controls {
	margin-top: 30px;
}

.gallery {
	padding: 30px 95px 75px 95px;
}

figure {
	position: relative;
	z-index: 1;
	overflow: hidden;
	width: 100%;
	height: auto;
	text-align: center;
	cursor: pointer;
}

figure .dark-bg {
	background: #37193f;
}

figure img {
	position: relative;
	display: block;
}

figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure figcaption::before,
figure figcaption::after {
	pointer-events: none;
}

figure figcaption,
figure a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

figure h2 {
	color:#fff;
	word-spacing: -0.15em;
	font-weight: 300;
}

figure h2 span {
	font-weight: 800;
}

figure h2,
figure p {
	margin: 0;
}

figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}


/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.effect-bubba img {
	opacity: 0.3;

  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
      -ms-transition: all 0.3s;
          transition: all 0.3s;

}

figure.effect-bubba:hover img {
	opacity: 1;
}

figure.effect-bubba figcaption:hover {
	background: rgba(255,255,255,0.8);
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px dashed #428bca;
	border-bottom: 1px dashed #428bca;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px dashed #428bca;
	border-left: 1px dashed #428bca;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h2 {
	padding-top: 30% !important;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

figure.effect-bubba p {
	color:#000;
	padding: 0 1.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	color: #428bca !important
}


/* NAV EFFECT */

.nav-effect a::before,
.nav-effect a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.nav-effect a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.nav-effect a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.nav-effect a:hover::before,
.nav-effect a:hover::after,
.nav-effect a:focus::before,
.nav-effect a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}


/** ********* **/

.navbar-custom .navbar-nav > li > a {
	font: 700 15px Raleway;
	color: #888;
}

h2 {
	font: 800 26px Raleway;
	color: #428bca;
	letter-spacing: -1px;
	margin: 0 0 0px 0 !important;
	padding: 0 !important;
}

h3 {
	font: 500 20px Raleway;
	color: #999;
	margin: 0 !important;
	padding: 0 !important;
}

#services h3 {
	margin: 0 0 50px 0 !important;
}

#services .services h4 {
	font: 800 20px Raleway;
	color: #777;
	letter-spacing: -1px;
	margin: 20px 0 10px 0 !important;
	padding: 0 !important;
}

#services .services img {
	display: inline-block;
	border: 5px solid lightgrey
}

#services .services p {
	font: 600 16px Raleway;
	color: #999;
	line-height: 1.2;
	margin-bottom: 20px;
}

#feature1 h3 {
	margin: 0 0 30px 0 !important;
	color:#666;
}

#feature1 p {
	font: 500 15px Raleway;
	color: #999;
	line-height: 1.7
}

#feature2 h3 {
	margin: 0 0 30px 0 !important;
}

#feature2 h4 {
	font: 600 16px Raleway;
	color: #777;
	margin: 10px 0 !important
}

#feature2 p {
	font: 500 14px Raleway;
	color: #999;
	line-height: 1.7
}

#gallery h3 {
	margin: 0 0 40px 0 !important;
}

#clients h2 { display: none }

#pricing {
	font-family: "Raleway";
}

#pricing h3 {
	margin: 0 0 40px 0 !important;
}

#pricing .panel-body h3 {
	margin: 0 !important;
}

#pricing .price-month {
	margin: 0 !important;
}

#pricing .price {
	font-weight: 600;
}

#pricing .price sup {
	font-size: 65%;
}

#cta h2 {
	margin: 0 0 15px 0 !important;
}

#cta p {
	font: 500 18px Raleway;
	color: #999;
	line-height: 1.3
}

.clear {
	clear:both;
}

.pHeader {
	text-align: center;
	padding-top: 65px;
}

.pSlogan {
	text-align: center;
}

.headwrap {
	width: 33%;
	float: left;
	padding: 0 30px;
}

.aligncenter {
	text-align: center;
}

.indexwrapper {
	margin-top: 50px;
}

.indexcontent {
	margin-top: 100px;
	background-color: rgba(200,200,200,0.2);
	padding: 30px 120px;
}

.galleryHeader {
	padding: 65px 100px;
}

#gallerybottom {
	padding: 50px 120px;
	background-color: rgba(200,200,200,0.2);
}

.galleryWrap{
	overflow: auto;
}
.featContainer {
	width: 100%;
	background-color: rgba(200,200,200,0.2);
	overflow: auto;
	padding: 55px 0;
	background-image: url(/wp-content/themes/hipaccounting/img/img/app-isometric.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	min-height: 800px;
}

.featWrap {
	width: 60%;
}

.featHeader {
	padding: 0 50px;
}


.featuresAll {
	float: left;
	width: 50%;
	padding: 30px 30px;
}

.featRow {
	overflow:  auto;
}

.blogHeader {
	min-height: 270px;
	padding-top: 65px;
}

.blogFooter {
	min-height: 270px;
	padding-top: 65px;
}

#blogContent {
	background-color: rgba(200,200,200,0.2);
	padding: 0 170px 60px 170px;
}

.post {
	padding-top: 70px;
}

#pricingContent {
	background-color: rgba(200,200,200,0.2);
}

.pricingHeader {
	padding: 60px 100px;
}

.pricingContent {
	text-align: center;
	padding-bottom: 85px;
}

.pricingBox {
	width: 25%;
	float: left;
	margin: 50px 0;
	padding: 0 10px;
	border-right: 1px solid rgb(200,200,200);
}

.pricingBoxWrap {
	display: inline-block;
	width: 80%;
	background-color: #FFFFFF;
	border-radius: 20px;
}

.pricingBoxWrap div:first-child {
	border-left: none;
}

.pricingBoxWrap div:last-child {
	border-right: none;
}

.pricingBottom {
	padding: 75px 120px;
	background-color: #FFFFFF;
	min-height: 270px;
}
